name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false # prevent test to stop if one fails
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - run: yarn install

      - if: matrix['node-version'] == '20.x' && matrix['os'] == 'ubuntu-latest'
        run: yarn lint
      - run: yarn build
  test_host:
    uses: ./.github/workflows/test.yml
    with:
      npm_command: test:host

  test_22:
    uses: ./.github/workflows/test.yml
    with:
      npm_command: test:22

  test_20:
    uses: ./.github/workflows/test.yml
    with:
      npm_command: test:20

  test_24:
    uses: ./.github/workflows/test.yml
    with:
      npm_command: test:24
